* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #eee;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.song {
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    padding: 0 10vw;
}

.song__title {
    font-size: 32px;
}

.song__title,
.song__chorus {
    font-weight: 700;
}

.song__verse,
.song__chorus {
    margin-top: 3vh;
}
