$font-main: 'Montserrat', sans-serif;
$font-color-main: #02001b;
$background-color: #848;
$max-width-main: 1200px;

* {
    font-family: $font-main;
}

body {
    background-color: $background-color;
    color: $font-color-main;
}

.container {
    width: 100%;
    max-width: $max-width-main;
    margin: 0 auto;
}

.song {
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    padding: 0 10vw;
}

.song__title {
    font-size: 34px;
}

.song__title,
.song__chorus {
    font-weight: 700;
}

.song__verse,
.song__chorus {
    margin-top: 3vh;
}
